@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
:root{
    --main-blue: #0ea5e9;
    --main-gray: #e2e8f0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
.container > div{
}
/* SIDEBAR */
.sidebar{
    z-index: 2;
    background-color: var(--main-blue);
    grid-row: 1/3;
    padding: 25px;
    color: white;
}
.sidebar>h1{
    font-size: 1.75rem;
    display: inline;
    padding: 0;
    margin: 0;
}
.sidebar>h1::before{
    content: "";
    display: inline;
    background: url(./icons/view-dashboard.png);
    float: left;
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0 10px 0 0;

}
.sidebar>ul{
    font-weight: bold;
    margin-top: 50px;
    list-style-type: none;
    display: grid;
    gap: 15px;
}
.sidebar>ul>li{
}
.sidebar>ul>li>img{
    margin-right: 10px;
}
.sidebar>ul>li:hover{
    cursor: pointer;
}
/* HEADER */
.header{
    z-index: 1;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
    padding:20px;
    padding-left: 50px;
    padding-right: 50px;
}
.search{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    align-items: center;
}
input[type="text"]{
    background-color: var(--main-gray);
    border-radius: 30px;
    height: 30px;
    border: none;
}
.user{
    margin-left:100px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}
.userProfile{
    height: 50px;
    width: 50px;
}
.action{
    margin-top:20px;
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 20px;
}
.userProfile.big{
    height: 70px;
    width: 70px;
}
.greeting{
    font-size: 0.8rem;
}
.signature{
    font-size: 1.6rem;
}
.action>button{
    background-color: var(--main-blue);
    border: none;
    color: white;
    font-size: 1.1rem;
    height: 45px;
    width: 100px;
    border-radius: 30px;
}
.action>button:hover{
    cursor: pointer;
}
/* MAIN CONTENT */
.content{
    padding:20px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--main-gray);
    display: grid;
    gap:20px;
    grid-template-columns: 2fr 0.8fr;
}
.projects{
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}
.contentParagraph{
    font-size:1.5rem;
}
.projectCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap:30px;
}
.card{
    padding:20px;
    padding-top:30px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: white;
    border-radius: 10px;
    border-left:10px solid orange;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.cardHeading{
    font-size: 1.1rem;
    font-weight: 500;
}
.cardDescription{
    opacity: 0.5;
}
.cardIcons{
    display: flex;
    justify-content: flex-end;
}
.cardIcons>img{
    margin-left:15px;
}
.cardIcons>img:hover{
    cursor: pointer;
}
.feed{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap:30px
}
.announcement{
    display: grid;
    grid-template-rows:auto 1fr;
    gap:20px
}
 .announcementPanel{
    margin: 0px;
    display: grid;
    padding: 20px;
    padding-top: 30px;
    box-sizing: border-box;
    gap:20px;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.anonce.bordered{
    border-bottom:2px solid rgba(0, 0, 0, 0.1);
}
.anonce{
    padding-bottom:10px
}
.anonceText{
    opacity: 0.5;
}
.trending{
    display:grid;
    grid-template-rows: auto 1fr;
}
.trendingPanel{
    margin: 0px;
    display: grid;
    padding: 20px;
    padding-top: 40px;
    box-sizing: border-box;
    gap:20px;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}
.trend{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
}
.trend>img{
    height:50px;
    width: 50px;
}
.trendDesc{
    opacity: 0.5;
}